/* Não Altere o CSS Inicial, Apenas Adicione o Seu CSS. */

.box {
    background-color: blue;
    padding: 10px;
  }
  
  p {
    color: yellow;
    margin: 0;
    padding: 0;
  }
  
#outer-box {
    border: 10px solid #52057b;
    padding: 15px;
    border-radius: 1px;
}

#outer-box > .box:last-of-type {
    margin-bottom: 0;
}

.inner-box {
    background-color: #ff0019; 
    padding: 10px;
    margin-top: 0px;
    border:1px solid #190d0e;
   
}

p {
    margin: 0; 
    font-weight: bold;
}

.box > p {
    color: #ffffff;
}


